.gmail-btn {
  display: inline-flex;
  align-items: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  color: var(--gmail-button-text-color);
  margin-bottom: 4px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.gmail-logo {
  width: 35px;
  height: 34px;
  margin-right: 8px;
}

.gmail-text {
  font-weight: 500;
  padding-bottom: 2px;
}
