:root {
  --primary-color: #007bff;
  --primary-hover: #0056b3;

  --danger-color: #dc3545;
  --danger-hover: #a71d2a;

  --success-color: #28a745;
  --success-hover: #1e7e34;

  --warning-color: #ffc107;
  --warning-hover: #d39e00;

  --gray-light: #e9ecef;
  --gray-dark: #343a40;

  --white: #ffffff;
  --black: #000000;
}
