body {
    /* Button colors */
    --primary-color: #1E64D4;               /* Primary button background */
    --primary-hover: #3775d9;               /* Hover state for primary button */
    --icon-light-gray: #898686;             /* Light gray for small icons */

    /* Checkbox colors */
    --checkbox-bg: var(--white);              /* Background color of unchecked checkbox */
    --checkbox-border: #585858;             /* Border color of the checkbox */
    --checkbox-checkmark: #333333;          /* Color of the checkmark (✓) when checked */     

    /* Icon colors */
    --star-color: #F4B400;                  /* Color for starred icons (e.g. favorites) */

    /* Shadow for signin/signup box */
    --auth-box-shadow: rgba(60, 64, 67, 0.3); /* Subtle shadow used in login/signup containers */

    --search-text-color: #000000;
    --placeholder-focused-color: #6F7071;
    --search-textbox-focused-icons-hover-bg: #F0F0F0;
    
    --search-icon-fill: #636364;
    --search-icon-stroke: #ffffff;

    --search-textbox-focosed-bg: #ffffff;

    --mail-icon-fill: #75797c;
    --mail-icon-stroke: #ffffff;

    --search-result-border-top: #dbdada;
    --search-result-bg-hover: #f3f3f3;
    --search-result-from-text: #777;
    --search-result-show-all-icon: #5f6368;
    --search-result-show-all-text: #202124;

    --camara-icon-color: #ffffff;

    --profile-picture-bg: #ccc;
  
    /* Shared base colors */
    --white: #ffffff;
    --black: #000000;
    --gray-light: #e9ecef;                  /* Light gray for backgrounds, borders, etc. */
    --gray-dark: #343a40;                   /* Dark gray for text, borders, etc. */
    --danger-color:#c5362c;
}