/* ========== BASE STYLES ========== */
.dropdown-wrapper {
  max-width: 370px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid var(--gray-dark);
  border-radius: 4px;
}

.dropdown-select {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-bg);
  color: var(--text-color);
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  appearance: none;
  position: relative;
  z-index: 1;
  background-clip: padding-box;
}

/* ========== STATES ========== */
.dropdown-wrapper.floating.focused .dropdown-select {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-hover);
}

.dropdown-wrapper.simple .dropdown-select {
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
}

/* ========== FLOATING LABEL ========== */
.dropdown-floating-label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  background-color: var(--secondary-bg);
  color: var(--icon-color);
  font-size: 16px;
  pointer-events: none;
  padding: 0 4px;
  transition: all 0.2s ease;
  z-index: 2;
  opacity: 0;
}

.dropdown-wrapper.focused .dropdown-floating-label,
.dropdown-wrapper.filled .dropdown-floating-label {
  top: -10px;
  left: 12px;
  font-size: 12px;
  color: var(--primary-color);
  opacity: 1;
}

/* ========== SIZES ========== */
.dropdown-wrapper.quarter {
  max-width: 120px;
  min-width: 100px;
}