/* Container for error icon and text */
.error-container {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--danger-color);
  font-size: 14px;
  margin-top: 4px;
}

/* The actual error message text */
.error-message {
  display: block;
  font-weight: 470;
}

/* Error icon styling */
.error-icon {
  margin-top: 4px;
  font-weight: bold;
  line-height: 1;
  align-items: center;
  justify-content: center;
}